@model IEnumerable<MovieProject.Domain.ViewModels.Movie.MovieViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container mx-auto py-8">
    <h1 class="text-3xl text-center font-bold mb-8">Movie Index</h1>
    <div class="mb-4 flex justify-end">
        <a asp-action="Add" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
            Add Movie
        </a>
    </div>
    <div class="overflow-x-auto">
        <div class="shadow-md rounded-lg overflow-hidden">
            <table class="w-full bg-white">
                <thead class="bg-gray-200">
                    <tr class="border-b border-gray-300">
                        <th class="px-6 py-4 text-left font-bold text-gray-700">ID</th>
                        <th class="px-6 py-4 text-left font-bold text-gray-700">Name</th>
                        <th class="px-6 py-4 text-left font-bold text-gray-700">CreteDate</th>
                        <th class="px-6 py-4 text-left font-bold text-gray-700">Time</th>
                        <th class="px-6 py-4 text-left font-bold text-gray-700">ReleasedDate</th>
                        <th class="px-6 py-4 text-left font-bold text-gray-700">Image</th>
                        <th class="px-6 py-4 text-left font-bold text-gray-700">Actions</th>

                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-300">
                    @{
                        var index = 0;
                        foreach (var item in Model)
                        {
                            index++;
                            <tr>
                            <td class="px-6 py-4 whitespace-nowrap">@index</td>
                            <td class="px-6 py-4 whitespace-nowrap">@item.Title</td>
                            <td class="px-6 py-4 whitespace-nowrap">@item.CreatedDate</td>
                            <td class="px-6 py-4 whitespace-nowrap">@item.Time</td>
                            <td class="px-6 py-4 whitespace-nowrap">@item.ReleasedDate</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <img src="/images/@item.Image" alt="User Avatar" class="h-20 w-20 rounded-full object-cover">
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <a asp-action="Edit" asp-route-id="@item.id" class="mr-4 text-indigo-500 hover:text-indigo-700">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21a2 2 0 01-2 2H7a2 2 0 01-2-2V7a2 2 0 012-2h4l2-2h4a2 2 0 012 2v4" />
                                        </svg>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.id" class="text-red-500 hover:text-red-700">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    }

                </tbody>
            </table>
        </div>

